<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main::commonHead(|${board.id}번 수정|)}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{layout/main::pageNavbar(_)}"></nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-ge-6">
            <h2 class="mb-3">
                <span th:text="${board.id}">
                    2342
                </span>
                번 계시물 수정
            </h2>
            <form class="mb-3" th:action="@{/board/edit}" method="post">
                <input type="hidden" name="id" th:value="${board.id}">
                <div class="mb-3">
                    <label class="form-label" for="titleInput">제목</label>
                    <input th:value="${board.title}" class="form-control" type="text" id="titleInput">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="contentTextarea">본문</label>
                    <textarea th=text=${board.content}" name="content" id="contentTextarea" cols="30"
                              rows="10"></textarea>
                </div>
                <div class="mb-3">
                    <lable class="form-label" for="writerInput">작성자</lable>
                    <input class="form-control" type="text" id="writerInput">
                </div>
                <div class="mb-3">

                </div>
                <button class="btn btn-primary">저장</button>
            </form>
        </div>
    </div>
</div>

<th:block th:replac="~{layout/main::commonScript}"/>
</body>
</html>